@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

#mover_navbar {
    display: flex;
    justify-content: flex-end;
}

nav {
    background-color: #0C231E;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    padding: 0;

    /* position: fixed; */
}

.navbar-nav a {
    text-decoration: none;
    color: #ffffff;
    font-display: swap;
    padding: 10px;
    margin-left: 0px;
    display: flex;
    font-family: 'Montserrat';
    font-style: 16px !important;
}

.navbar a:hover {
    color: #B38E5D;
}

#inicio-session {
    width: 150px;
}

.image {
    margin-left: 20px;
    width: 65px;
    height: 62px;
}

.active {
    background-color: #0f7962;
}


/* Barra lateral */
#menu-ico {
    /* margin-left: 20px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* margin-bottom: 200px; */
    position: relative;
    left: 20px;
    bottom: 50%;
    font-size: 150%;

    color: #fff;
    cursor: pointer;
    padding: 10px;
}

#menu-ico:hover {
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50%;

    transition: all 100ms;


}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    z-index: 100;
    /* padding: 20px; */
    /*Se quita para poder meter la barra lateral ya diseñada :D*/
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

/* Barra lateral */