<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<app-nav></app-nav>
<div class="espacio_nav">
</div>

<!-- <app-breadcrumbs></app-breadcrumbs> -->




<div class="container animated fadeIn">
    <h2>Login</h2>
    <form ngNativeValidate class="login" (ngSubmit)="login()" [formGroup]="formLogin">
        <div class="mb-4">
            <label for="text" class="form-label">Usuario</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Nombre de usuario" required>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" required>
        </div>
        <div >
            <button id="btn" type="submit" class="btn btn-primary sombra">Iniciar Sesión</button>
        </div>
        <div class="my3-3">
            <span><a class="recuperar_C" routerLink="/resetPassword">Recuperar contraseña</a></span>
        </div>
    </form>
</div>

<app-footer></app-footer>