#Titulo1 {
    font-size: 40px;
    margin-bottom: 70px;
    color: #ffff;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #999999;
    font-size: 300;
    font-size: 16px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #222222;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
}

.section-padding {
    padding: 60px 0px;

}

h2 {
    line-height: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

/***************************************
banner
***************************************/
.navbar {
    margin-bottom: 0px;
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.3s;
}

.navbar-default {
    background-color: transparent;
    border: 0px;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    font-family: 'Chewy', cursive;
    font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}


@media (max-width: 768px) {
    .navbar-collapse {
        background: rgba(28, 74, 90, 0.9);
    }
}

.top-nav-collapse {
    padding: 0;
    background: rgba(28, 74, 90, 0.9);
}

.white,
.white:hover,
.white:focus {
    color: #fff;
    width: 100% !important;
}

.block {
    display: block;
}

.affix .navbar-nav>li>a:hover,
.affix .navbar-nav>li>a:focus {
    background-color: rgba(12, 184, 182) !important;
}

#banner {
    /* background: url('../img/bg-banner.jpg') no-repeat fixed; */
    /* background-image: url('../assets/img/bg-banner.jpg'); */
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.bg-color {
    background-color: RGBA(13, 70, 83, 0.78);
    min-height: 650px;
}

.banner-info {
    padding-top: 190px;
}

.banner-logo img {
    display: inline-block;
}

.banner-text {
    color: #fff;
}

.banner-text h1 {
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 15px;
}


@media (min-width: 220px) and (max-width: 551px) {


    h2 {
        font-size: 24px;
        line-height: 1.2;
    }

    .banner-text h1 {
        font-size: 24px;
    }
}


/* ANIMACIÓN  BIENVENIDA*/

.presentation-text {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: slideIn 2s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.presentation-text-1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: deslizarArriba 3s forwards;
}

@keyframes deslizarArriba {
    0% {
        opacity: 0;
        transform: translateY(+50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.presentation-text-lateral {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: deslizarLateral 3s forwards;
}

@keyframes deslizarLateral {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

