
<app-nav-logged></app-nav-logged>

<section id="banner" class="banner animated fadeIn" style="background-image: url('../assets/img/bg-banner.jpg');" >
    <div class="bg-color">

    <a routerLink="./Pacientes/listado" class="btn btn-appoint">Mostrar Lista P.</a>
    <a routerLink="./Pacientes/ver" class="btn btn-appoint">Ver Paciente</a>
    <a (click)="logout()" class="btn btn-appoint">Cerrar Sesión</a>

        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-logo text-center">
                        <h1 *ngIf="Rol.roles_id===1"  id="Titulo1" class="presentation-text">ADMINISTRADOR</h1>
                        


                        <h1 id="Titulo1" class="presentation-text-lateral">Unidad Básica de Rehabilitación (UBR)</h1>
                    </div>
                    <div class="banner-text text-center">
                        <h1 class="white presentation-text-1" >Bienvenido {{Usuario.userData.name}}</h1>
                        

                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>tempor
                            incididunt ut
                            labore et dolore magna aliqua.</p> -->
                        <a href="#contact" class="btn btn-appoint">Abrir menu lateral</a>
                    </div>
                    <div class="overlay-detail text-center">
                        <a href="#service"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- <app-navigation></app-navigation> -->

<!-- <app-navigation></app-navigation> -->

<!-- <app-footer></app-footer> -->
