<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<app-nav></app-nav>
<div class="espacio_nav">
</div>


<!-- <app-breadcrumbs></app-breadcrumbs> -->
<div class="container animated fadeIn">
    <h2>Restaurar Contraseña</h2>
    <form ngNativeValidate class="login" (ngSubmit)="nuevo()" [formGroup]="formRegistro">
        <div class="mb-4">
            <label for="text" class="form-label">Correo</label>
            <input type="email" class="form-control" formControlName="email" [(ngModel)]="correo" placeholder="123@gmail.com" required>
        </div>
        <button id="btn" type="submit" class="btn btn-primary sombra">Iniciar</button>
    </form>
    <!-- <button id="btn" class="btn btn-primary sombra" routerLink="/auth/login">Cancelar</button> -->


    <form *ngIf="datosCargados"  (ngSubmit)="comprobarRespuesta()"  [formGroup]="formRespuesta">
        <div class="mb-4" >
            <label for="text" class="form-label">{{pregunta}}</label>
            <input type="text" class="form-control" formControlName="respuesta"  placeholder="respuesta" required>
        </div>
        <button id="btn" type="submit" class="btn btn-primary sombra">Iniciar</button>
    </form>
    
    <form  *ngIf="datosListosBD" [formGroup]="formNewContrasena" (ngSubmit)="mandarContrasena()">
        <div class="mb-4" >
            <label for="text" class="form-label">tu ID es: {{numerador}}</label>
            <label for="text" class="form-label">CORRECTO Introduce tu nueva contraseña :D</label>
            <input type="password" class="form-control" formControlName="password"  placeholder="password" required>
            <input type="text" class="form-control" [value]="numerador" formControlName="id" required>
        </div>
        <button id="btn" type="submit" class="btn btn-primary sombra">Iniciar</button>
    </form>

    <div>mensaje ultimo: {{men}}</div>

    <!-- <div *ngIf="!datosCargados">
        <button id="btn" class="btn btn-primary sombra" routerLink="/auth/login">Cargando datos ...</button>
    </div>

    <div *ngIf="!datosListosBD">
        <button id="btn" class="btn btn-primary sombra" routerLink="/auth/login">Cargando LA BD ...</button>
    </div> -->

</div>


<app-footer></app-footer>