<app-nav></app-nav>
<div class="error">
    <div class="container-hijo">
        <div class="container">
            <h1>Error 404</h1>
            <h2>¡Lo sentimos, la página que solicitó no se encuentra disponible!</h2>
            <img src="assets/img/404-error-image.png" alt="Error 404 Image">
            <p>- Puede intentar recargar la página o verifique si la url está bien escrita.
            <p>
                <a routerLink="">Volver a la página de inicio</a>
        </div>
    </div>
</div>

<app-footer></app-footer>