

    
    

<!-- <app-nav></app-nav> -->

    <div class="container">
        <h1>¡Error 404!</h1>
        <br>
        <p>Página no disponible</p>
        <img class="image" src="assets/img/doctor-apple.gif" alt="">
        <p>¡Lo sentimos, la página que solicitaste no existe!</p>
        <div class="h2">
            <h2>¿Que puede hacer? :</h2>
            <h2>• Intente recargar nuevamente la pagina solicitada.</h2>
            <h2>• Asegurese de que este bien escrita la direccion de la pagina.</h2>
            <h2>• Haga clic en el boton "Volver a inicio".</h2>
        </div>
        <a href="/">Volver a inicio</a>
    </div>


<app-footer></app-footer>