<p>page-error works!</p>



<div class="contenedor">


    <div class="row tworow">
        <div class="intercontainer col-xs-12 col-md-3">

            <div>
                <h1 class="error">ERROR 404</h1>
            </div>
            <div>
                <p>Pagina no disponible </p>
                <p>Lo sentimo....</p>
                <p>La pagina a la que intenta acceder no esta disponible</p>
            </div>

        </div>
    </div>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/personal/mostrar">Ir a Mostrar citas (BLOQUEADO)</a>
        </li>
    </ul>


    <div class="row tworow">

        <div class="intercontainer col-xs-12 col-md-3">
            <img class="image" src="assets/img/doctor-apple.gif" alt="">

        </div>


    </div>