.container {
    position: relative;
    width: 650px;
    height: 400px;

    
}

/*  */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    z-index: 100;
    /* padding: 20px; */ /*Se quita para poder meter la barra lateral ya diseñada :D*/
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
  
/* Baa */


img,
p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    position: absolute;
    left: 0;
}

img {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    animation: rain 3s infinite linear;
}

p {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.container:hover img,
.container:hover p {
    opacity: 0;
}

@keyframes rain {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}