<app-nav></app-nav>
<div class="espacio_nav">
</div>

<!-- <app-breadcrumbs></app-breadcrumbs> -->


  <nav aria-label="breadcrumb" style="padding: 30px 0 0 30px;">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">quienes-somos</li>
      </ol>
  </nav>



<!-- <div class="heart-container">
  <div class="heart"></div>
</div>


<p class="thank-you">No estás solo en esto</p> -->

<div class="cuerpo animated fadeIn">

  <!-- <div class="animacion">
    <h1>Probando animacion</h1>
    <p>(quitar luego)</p>
  </div> -->


  <div style="text-align: left;font-size: 19px; font-weight: bold;" >
    Filosofía Empresarial
  </div>



  <div style="text-align: right; font-size: 13px; padding-bottom: 8px; padding-top: 8px; margin-top: 27px;">
    <b>Ultima actualización:Miercoles, 02 de Agosto de 2023
    </b>
  </div>

  <p>
    <strong>Misión</strong>
  </p>
  <p>
    Nuestra Misión es proporcionar a nuestros pacientes un servicio de rehabilitación de alta calidad para ayudarle a
    vencer sus incapacidades y recuperar su independencia, logrando así tener una vida
    saludable y productiva. Contribuir al mejoramiento de la calidad de vida de los pacientes mediante una
    rehabilitación integral de los padecimientos y discapacidades transitorias o permanentes,
    brindando una atención óptima de acuerdo a las necesidades y expectativas de cada paciente mediante los
    conocimientos teóricos prácticos y de la experiencia profesional para poder brindar un servicio
    acorde a las actuales tendencias de la fisioterapia.
  </p>
  <p>
    <strong>Visión</strong>
  </p>
  <p>
    Nuestra visión es ser la mejor opción en servicios de rehabilitación, reconocidos por nuestra excelencia operativa y
    la calidez de nuestra gente. Convertirnos en una unidad de rehabilitación con capacidad
    de atención y calidad a las personas que acuden a ella contando con la infraestructura, recursos humanos, materiales
    y equipos en óptimas condiciones para ofrecer un mejor servicio y aportar al establecimiento
    una sociedad más justa para los pacientes.
  </p>
  <p>
    <strong>Valores Intitucionales</strong>
  </p>

  <p>• Responsabilidad</p>
  <p>• Respeto</p>
  <p>• Apoyo </p>
  <p>• Profesionalismo</p>
  <p>• Lealtad </p>
  <p>• Responsabilidad</p>
  <p>• Confianza</p>
  <p>• Paciencia </p>




</div>