<app-nav></app-nav>
<div class="espacio_nav">
</div>
<div>
  <div class="container is-max-widescreen py-6 context px-2">

    <div class="max-w930 color-blanco">

      <h1 class="color-blanco mt-5">Nuestros Terapeutas</h1>

      <div class="fye mb-5"></div>

      <p>Tomar la desición de ponerse en manos de un terapeuta no es una decisión sencilla.</p>
      <p>Es normal que surjan muchas dudas y cuestiones respecto al profesionalismo y tipo de desarrolla. Por esto
        nos gutaría que conocieras aspectos sobre nuestra formación, experiencia Profesional y el tipo de terapia que
        desarrollamos.
      </p>

    </div>

  </div>
</div>

<div class="container is-max-widescreen content px-2 is-relative">

  <div class="columns is-multiline">
    <div class="is-one-third column centrado">
      <div class="fonodo-gris-0 p-5 py6 is-inline-block mt-4 b-ne">
        
        <hr>
        <h2 class="mt-0 is ">Equipo de terapeutas</h2>
        <hr>
        
      </div>
    </div>
  </div>
  


</div>



<div class="container">

  <div class="title">
    <h3>Beneficios de pertenencia a la comunidad de la UBR San Felipe</h3>
  </div>

  <div class="subtittle">
    <h4>Hemos apoyado a cientos de personas para su mejor recuperamiento</h4>
  </div>

  <div class="row onerow">

    <div class="intercontainer col-xs-12 col-md-3">
      <img src="assets/img/img2.png" alt="">
      <div>
        <span>Terapia Fisica</span>
      </div>
    </div>

    <div class="intercontainer col-xs-12 col-md-3">
      <img src="assets/img/img3.png" alt="">
      <div>
        <span>Terapia psicologica</span>
      </div>
    </div>

    <div class="intercontainer col-xs-12 col-md-3">
      <img src="assets/img/imagen1.png" alt="">
      <div>
        <span>Terapida de lenguaje</span>
      </div>
    </div>

    <div class="intercontainer col-xs-12 col-md-3">
      <img src="assets/img/img4.png" alt="">
      <div>
        <span>Terapia Emocional</span>
      </div>
    </div>


  </div>

  <div class="row tworow">

    <div class="intercontainer col-xs-12 col-md-3">
      <img src="assets/img/img2.png" alt="">
      <div>
        <span>Terapia Fisica</span>
      </div>
    </div>

    <div class="intercontainer col-xs-12 col-md-3">
      <img src="assets/img/img3.png" alt="">
      <div>
        <span>Terapia psicologica</span>
      </div>
    </div>

    <div class="intercontainer col-xs-12 col-md-3">
      <img src="assets/img/imagen1.png" alt="">
      <div>
        <span>Terapida de lenguaje</span>
      </div>
    </div>

    <div class=" intercontainer col-xs-12 col-md-3">
      <img src="assets/img/img4.png" alt="">
      <div>
        <span>Terapia Emocional</span>
      </div>
    </div>


  </div>

</div>