<div>
  <div class="container is-max-widescreen py-6 context px-2">

    <div class="max-w930 color-blanco">

      <h1 class="color-blanco mt-5">Nuestros Terapeutas</h1>

      <div class="fye mb-5"></div>

      <p>Tomar la desición de ponerse en manos de un terapeuta no es una decisión sencilla.</p>
      <p>Es normal que surjan muchas dudas y cuestiones respecto al profesionalismo y tipo de desarrolla. Por esto
        nos gutaría que conocieras aspectos sobre nuestra formación, experiencia Profesional y el tipo de terapia que desarrollamos.
      </p>

    </div>

  </div>
</div>

<div class="container is-max-widescreen content px-2 is-relative">

  <div class="columns is-multiline">
    <div class="is-one-third column centrado">
      <div class="fonodo-gris-0 p-5 py6 is-inline-block mt-4 b-ne">

        <h2 class="mt-0 is ">Equipo de terapeutas</h2>

      </div>
    </div>
  </div>



</div>
