<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container">

    <h2>Resgistro de trabajadores</h2>

    <form action="" class="login">


        <div class="mb-4">
            <label for="text" class="form-label">Usuario</label>
            <input type="text" class="form-control" name="usuario">
        </div>

        <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="mb-4 form-check">
            <label for="connected" class="form-check-label"><a href="">Aceptar Politicas de Privacidad</a></label>
            <input type="checkbox" name="connected" class="form-check-input">
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>

        <div class="my3-3">
            <span><a class="recuperar_C" href="">Recuperar contraseña</a></span>
        </div>

    </form>

</div>