<app-nav></app-nav>
<div class="espacio_nav">
</div>

<section>
    <div class="divimg">

        <img class="imgdiv" src="assets/img/sanfelipe3.png">

    </div>
    <div class="seperacion">

    </div>
</section>

<div class="animated fadenIn">

    <mdb-carousel #carousel [controls]="true" [indicators]="true" [animation]="'slide'" [interval]="transicion_ims"
        [keyboard]="true" slidefade *ngIf="media.length">
        <mdb-carousel-item *ngFor="let slide of media">
            <img src="{{slide.imagen}}" id="imagenes-carrusel" />
            <div class="carousel-caption d-none d-md-block">
                <h5>{{slide.titulo}}</h5>
                <p>{{slide.desc}}</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>

    <!-- <div class="cont-maestro">
        <div id="contenedor-titulo-inicio">
            <h1><b>Descripción</b></h1>
        </div>
        <div id="contenedor-inicio1">
            <div class="informacion-imagen-inicio1">
                
                <img id="foto-inicio1" src="./assets/img/info2.jpg" alt="">
            </div>
            <div class="informacion-inicio1">
                <p>Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Eveniet,
                    harum. Quas, voluptatem eos cupiditate, fugiat
                    necessitatibus repudiandae aliquid quisquam
                    perspiciatis quos voluptas sed harum nam, nemo
                    iusto itaque facilis vero?
                </p>
            </div>
            <div class="informacion-inicio2">
                <p>Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Eveniet,
                    harum. Quas, voluptatem eos cupiditate, fugiat
                    necessitatibus repudiandae aliquid quisquam
                    perspiciatis quos voluptas sed harum nam, nemo
                    iusto itaque facilis vero?
                </p>
            </div>
        </div>
    </div> -->


</div>

<div id="glit" class="container">

    <h3 class="h1"> Tipos de Terapias</h3>

    <div id="line"></div>

</div>


<div class="container">

    <div class="row categorias">


        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="assets/img/terapia-fisica.png">
                    <h4 class="h4">
                        TERAPIA FISICA
                    </h4>
                </div>
                <div>
                    <p class="P">Tenemos como objetivo recuperar y mejorar la capacidad funcional y calidad de vida de
                        aquellas personas que sufren de discapacidad por una enfermedad o lesión. </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="assets/img/terapia-mental.png">
                    <h4 class="h4">
                        TERAPIA PSICOLOGICA
                    </h4>
                </div>
                <div>
                    <p class="P">Buscamos estimular los pensamientos, sentimientos, sensaciones y conocimientos, que
                        tiene el paciente pero que no sabe cómo aplicarlos o no logra identificarlos plenamente.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="assets/img/terapia-lenguaje.png">
                    <h4 class="h4">
                        TERAPIA DE LENGUAJE
                    </h4>
                </div>
                <div>
                    <p class="P">Ayudamos a los niños, jovenes y adultos a hablar o a expresarse más claramentey, por lo
                        tanto, a que se sientan más seguros consigo mismos. Esto hará que tenga una mayor autoestima y
                        competencia social.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="assets/img/familia.png">
                    <h4 class="h4">
                        TERAPIA DE FAMILIAR
                    </h4>
                </div>
                <div>
                    <p class="P">
                        Nuestro objetivo es modificar las dinámicas relacionales interfamiliares para mejorarlas y
                        aportar bienestar, incluso a una sola persona.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="assets/img/terapia-pareja.png">
                    <h4 class="h4">
                        TERAPIA DE PAREJA
                    </h4>
                </div>
                <div>
                    <p class="P">Analiza y tratar los conflictos surgidos en el seno de una relación amorosa.
                        Dependiendo del tipo de problemas que sufra una pareja el terapeuta adapta el tratamiento.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="assets/img/terapia-sonido2.png">
                    <h4 class="h4">
                        TERAPIA AUDITIVA
                    </h4>
                </div>
                <div>
                    <p class="P">Aplicamos de técnicas, estrategias, condiciones y procedimientos que
                        promueven la óptima adquisición del lenguaje hablado a través de la audición.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="">
                    <h4 class="h4">
                        TERAPIA
                    </h4>
                </div>
                <div>
                    <p> </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card text-center card-gob">
                <div class="titulocategoria">
                    <img class="icon" src="">
                    <h4 class="h4">
                        TERAPIA
                    </h4>
                </div>
                <div>
                    <p class="P">Este es una descriocion de todo el pedo</p>
                </div>
            </div>
        </div>




    </div>

</div>
<div id="glit" class="container">

    <h3 class="h1">Ubicación</h3>

    <div id="line"></div>

</div>



<div class="gps">

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14882.34010384542!2d-98.6143007872797!3d21.16890658347364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d6dc2d01991729%3A0xd1d8ef101d1c4e0c!2sOrizatl%C3%A1n%2C%20Hgo.!5e0!3m2!1ses!2smx!4v1660862965353!5m2!1ses!2smx"
        width="1100" height="550" style="border: 0;" class="ajustar-100"></iframe>
</div>

<app-footer></app-footer>