@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins&display=swap');


#imagenes-carrusel {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    transition-delay: all 300ms;
    opacity: .5s ease-out;
}


.caja-Carrusel{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tamano-Carrusel{
    width: 70%;
}


.cont-maestro {
    display: flex;
    justify-content: center;
    z-index: 101;
}

/* Titulo Información pagina inicio */
#contenedor-titulo-inicio {
    /* background: red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2%;

    padding-left: 5%;
    display: flex;
    width: 100%;

}

/* Titulo Información pagina inicio */

/* Información de la página de inicio */
#contenedor-inicio1 {
    /* background: #f0f000; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.informacion-inicio1 {
    /* background: rgb(0, 255, 76); */
    width: 35%;
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 3%;
}

.informacion-inicio2 {
    /* background: #7440ee; */
    display: flex;
    width: 35%;
    justify-content: center;
    padding: 3%;
}

.informacion-imagen-inicio1 {
    display: flex;
    /* background: #9C223C; */
    width: 20%;
    justify-content: center;
    align-items: center;
}

.informacion-imagen-inicio1 img {
    width: 100%;
    border-radius: 100%;
    height: 90%;
}

.divimg {
    margin: 0px;
    padding: 0px;
}

.imgdiv {
    width: 100%;
    height: 120px;
}

.col-sm-6 {
    margin-bottom: 30px;
    height: 400px;

}

.row {

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-family: 'Montserrat';
    font-style: 16px !important;
    font-size: 16px;


}

#line {
    /* position: absolute; */
    background-color: #b38e5d;
    bottom: -10px;
    width: 35px;
    height: 5px;
}

.container {
    width: 100%;
    /* padding-right: 30px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative; */
    margin-top: 2.8rem;
    margin-bottom: 3.7rem;
}

.h1 {
    font-family: 'Montserrat';
    font-style: 16px !important;
    font-size: 1.75rem;
    color: #706f6f;
    font-weight: 400;
}

.h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;

    /* font-family: 'Montserrat';
  font-weight: 600; */
    color: #000;
}

.P {
    margin: 20px;
    text-align: left;
}

.icon {
    width: 65px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    margin-top: 5%;
    margin-bottom: 3%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

/* .card{
      position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
} */

.card {
    min-height: 350px;

}



.ajustar-100 {
    width: 100%;
}

.gps {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
}


/* Información de la página de inicio */