
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<body>

    <div class="d-flex">

        <div id="sidebar-container" class="bg-primary">

            <div class="logo">

                <img class="image" src="assets/img/dif.png" alt="">

            </div>

            <div class="menu">
                <a href="#" class="d-block text-light p-3"> <i class="icon ion-md-apps lead"> </i>Tablero</a>
                <a href="#" class="d-block text-light p-3"> <i class="icon ion-md-heart lead "> </i>Citas Medicas</a>
                <a routerLink="/personal/mostrar" class="d-block text-light p-3"> <i class="icon ion-md-people lead "> </i> Pacientes</a>
                <a href="#" class="d-block text-light p-3"><i class="icon ion-md-archive lead"> </i>Historial de
                    citas</a>
                <a href="#" class="d-block text-light p-3"> <i class="icon ion-md-stats lead"> </i>Estadisticas</a>
                <a href="#" class="d-block text-light p-3"> <i class="icon ion-md-settings lead "> </i>Configuración</a>
                <br>
                <a (click)="logout()" class="d-block text-light p-3"> <i class="icon ion-md-settings lead "> </i>{{auth.name}}</a>
                <a (click)="logout()" class="d-block text-light p-3"> <i class="icon ion-md-settings lead "> </i>Cerrar sesión</a>
            </div>

        </div>


    </div>

</body>

<!-- <div id="icono-menu">
    <label for="btn-menu"><i class="fa-solid fa-bars" style="font-size: 35px; padding-top: 22px;">i</i></label>
</div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="" routerLink="inicio"> <i class="fa-solid fa-house"> </i> Inicio</a>
            <a href="" routerLink="listaCitas"><i class="fa-solid fa-pencil"> </i> Lista de citas</a>
            <a href="" routerLink="listaUsuarios"><i class="fa-solid fa-book"> </i> Lista de usuarios</a>
            <a href=""><i class="fa-solid fa-calendar-days"></i> Tablero</a>
            <a href="" routerLink="listaHistorial"><i class="fa-solid fa-pencil"></i> Historial de citas</a>
            <a href=""><i class="fa-solid fa-gear"></i> Configuración</a>
        </nav>
        <label for="btn-menu"><i class="fa-solid fa-circle-xmark" style="font-size:30px;">a</i></label>
        
        
    </div>
</div> -->