<footer class="">

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <img class="logo07" src="assets/img/logotipo-07.png" alt="">
      </div>

      <div class="col-xs-12 col-md-4">
        <img class="imgescudo" style="margin-top: 10px;" src="assets/img/escudo_blanco.png" alt="">
        <p style="text-align: center;">2023 Secretaría de Eduación  Pública</p>

        <p style="text-align: center;">
          <a href="">Aviso de privacidad</a>
        </p>
      </div>

      <div class="col-xs-12 col-md-4">

        <p style="text-align: center; margin-top: 80px;">

          <b style="font-size: 20px;">Contato</b>

          <br>
          "C.P 43020 - San Felipe Orizatlan"
          <br>
          "Hidalgo, México"
          <br>
          "789 8962088 al 91"
        </p>

      </div>

    </div>
    <div style="text-align: center;">
      <small>&copy; 2022 <b>UBR</b> - Todos los derechos reservados </small>
    </div>
  </div>

</footer>
